.app-main {
  width: 70%;
  height: 100vh;
}

.app-main-note-edit,
.app-main-note-preview {
  height: 50vh;
}

.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid silver;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 5px;
  resize: none;
  font-size: 1rem;
}

.app-main-note-edit input {
  height: 1.5rem;
  font-size: 1.5rem;
}

.app-main-note-preview {
  border-top: 1px solid silver;
  overflow-y: scroll;
  scrollbar-color: aquamarine lightslategray;
  scrollbar-width: thin;
  background: linear-gradient(180deg, silver, grey, dimgrey);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  line-height: 2rem;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: silver;
}
